.contenedorNavBar {
  background-color: #4f772d;
  border: solid 7px #8cb369;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}
.contenedorNavBar img {
  height: 100%;
  border-radius: 16px 0 0 16px;
}
.navBar_Items {
  width: 50%;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar_Items a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
